# Lesson 1: Syntax and Arithmetic in Python #

Programming is all about interacting with your computer in useful ways. So if we're going to interact, we should learn how to make our computer speak! In Python this is done with the `print` statement.

In [3]:
print('Hello World!')

Hello World!

## Data Types ##

We can print many things, but the **data type** is important to consider. Above, we've printed a **string**, which is a series of symbols enclosed by quotation marks. You can use double or single quotation marks, as long as they match on either side.

Two other data types are **integers** and **floating point numbers**. Here are examples of all three data types:

- `str` : 'twenty', '20', "twentyyyyy"
- `int` : 20
- `float` : 20.0, 20., 2e1

### Examples: ### 
Let's try adding different data types to see how they behave:

In [7]:
print('I am learning ' + 'Python!')
print(1 + 1)
print(1.0 + 1.0)

I am learning Python!
2
2.0

Now try printing an `int` plus a `float`. What data type is the output?

Let's try printing a `str` plus an `int`:

In [8]:
print('Attempt Number ' + 1)

TypeError: can only concatenate str (not "int") to str

We got an error, because we can't add a `str` and `int` together (or a `str` and `float`). Instead, we need to convert our `int` to a `str`:

In [10]:
print('Attempt Number ' + str(1))

Attempt Number 1

## Variables ##

In programming, we're probably going to deal with data that can change in value or be manipulated in some way. We can define a **variable** as something whose value can be changed. The name of a variable can be anything you want, as long as there are no spaces and it does not start with a number.

In [15]:
my_variable = 5
print(my_variable)

5

## Arithmetic ##

Some obvious examples of basic arithmetic operations in Python are add `+`, subtract `-`, multiply `*`, divide `/`, and raising to a power `**`.

Try creating a variable defined as the product of two numbers (you can use two `int`, two `float`, or one of each). Print the variable on a new line. Then try creating and printing a variable defined as some number raised to the power of 2.

Some less common examples of arithmetic operations are floor division `//`, which always returns an `int`, and the modulo operator `%`, which returns the remainder of two numbers.

### Examples ###
Here are some examples of these operations compared to normal division. Try using some different numbers and/or operators, if you like.

In [18]:
my_variable / 2

2.5

In [19]:
my_variable // 2

2

In [20]:
my_variable % 2

1

### Practice ###

Alice would like to keep track of how much water she drinks over the course of a day. At the beginning of her day, she has a water bottle filled to 1000 mL. _Define a variable to represent this._

At 9am, she drank 120 mL. At noon, she drank 208 mL. At 3pm, she drank 216 mL. At 6pm, she drank 302 mL, and at 9pm she drank 144 mL. _Define variables to represent each of these times._

_Update the amount of water in Alice's water bottle to reflect how much she has left after 9pm, then print it._

On average, how much water did Alice drink per hour? _Create a new variable to determine this, then print it in the form 'Alice drank ___ mL of water per hour'._